<a href="/">
  <!-- <div style="font-family: Raleway, sans-serif; font-weight: bold; font-size: 130%; color: var(--logo-color); position: relative; bottom: -0.1rem">APIDocs</div>
  <span>starter</span> -->
  <div class="logo-wrapper">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 197.078 42.747">
      <path
        d="M294.973,61.756V60l-.239.17a9.288,9.288,0,0,1-5.453,1.59c-5.419,0-9.061-3.735-9.061-9.3V38.33h4.786V52.459c0,2.984,1.575,4.629,4.435,4.629,3.52,0,5.541-2.366,5.541-6.489V38.33h4.747V61.756Z"
        transform="translate(-195.333 -26.719)" fill="#004750" />
      <path
        d="M361.4,69.465V38.33h4.744v2.523l.248-.194a11.145,11.145,0,0,1,6.877-2.33,11.713,11.713,0,0,1,0,23.426,11.145,11.145,0,0,1-6.877-2.33l-.248-.194V69.465ZM373.151,43a7.046,7.046,0,1,0,7,7.089v-.042A6.969,6.969,0,0,0,373.266,43Z"
        transform="translate(-251.921 -26.718)" fill="#004750" />
      <path d="M451.414,41.812V18.387h4.747V41.812Zm2.375-26.2a2.948,2.948,0,1,1,2.966-2.966,2.949,2.949,0,0,1-2.966,2.966Z"
        transform="translate(-314.28 -6.775)" fill="#004750" />
      <path
        d="M492.877,41.785a6.865,6.865,0,0,1-4.92-1.593,6.45,6.45,0,0,1-1.784-5V23.079H481.82v-4.72h4.353v-7.27l4.786-1.409v8.667h5.9v4.708h-5.9V35.172c0,1.793.363,1.963,2.072,1.963.706,0,1.53-.067,2.317-.136l1.515-.133v4.48l-1.175.179A18.623,18.623,0,0,1,492.877,41.785Z"
        transform="translate(-335.862 -6.748)" fill="#004750" />
      <path
        d="M559.158,61.753V59.281l-.245.191a11.046,11.046,0,0,1-6.88,2.281,11.713,11.713,0,0,1,0-23.426,11.064,11.064,0,0,1,6.88,2.281l.245.194V38.328h4.786V61.753ZM552.19,43a7.047,7.047,0,1,0,6.967,7.125v-.079A6.971,6.971,0,0,0,552.269,43Z"
        transform="translate(-376.696 -26.716)" fill="#004750" />
      <rect width="4.747" height="32.093" transform="translate(192.331 2.948)" fill="#004750" />
      <path
        d="M189.746,44.507a20.363,20.363,0,0,0-10.812-3.087,20.664,20.664,0,0,0-2.869.206l-.3.042a17.1,17.1,0,0,1-1.887.112,16.055,16.055,0,1,1,16.055-16.055h0a15.864,15.864,0,0,1-3.138,9.491,27.092,27.092,0,0,0-6.028-.991h-.3a10.74,10.74,0,1,0-6.589,2.266,10.123,10.123,0,0,0,1.212-.073l.318-.042a26.434,26.434,0,0,1,3.529-.245h.2a25.683,25.683,0,0,1,13.414,3.887l.148.094L189.888,44.6Z"
        transform="translate(-110.011 -6.741)" fill="#004750" />
      <path d="M28.5,0H0V38H19L9.5,28.5V9.5h19v19H19l4.75,4.747L28.5,38l4.747,4.75V38H38V0Z" fill="#00b189" />
    </svg>
    <div>Documentation</div>
  </div>
</a>
